<div class="footer">
        <footer>
        <span>&#169;</span>Site made by ASAD MIAN - Contact: asad.mian@ontariotechu.net
        <a href="https://github.com/a5admian"><img src="/images/25231.png" height="50" width="50"></a> 
        <a href="https://www.linkedin.com/in/asad-mian-515762250/"><img src="/images/174857.png" height="50" width="50"></a>
        </footer>
</div>